#frame {
    width: 960px;
    height: 600px;
}

#red {
    background-color: red;
    margin-top: 50px;
    margin-left: 50px;
    width: 500px;
    height: 200px;
    position: absolute;
    border-radius: 10px;
    box-shadow: rgb(233, 220, 220) 5px 5px;
}

#green {
    background-color: green;
    margin-top: 100px;
    margin-left: 100px;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    position: absolute;
    box-shadow: rgb(233, 220, 220) 5px 5px;
}

#blue {
    background-color: blue;
    margin-top: 150px;
    margin-left: 150px;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    position: absolute;
    box-shadow: rgb(233, 220, 220) 5px 5px;
}